{% extends "base.html" %}
{% load static %}


{% block content %}
 

 
  <!--/ Property Single Star /-->
<section style="margin-top:100px" class="property-single nav-arrow-b">
    <div class="container">
      <div class="row">
      		<div class="col-sm-6 col-md-8 section-md-t3 mb-5">
              	<div class="row">
	                <div class="col-sm-12">
	                  <div class="title-box-d">
	                    <h3 class="title-d">Choose Your Time</h3>
	                  </div>
	                </div>
	                <div class="col-sm-12">

	                	<form method="POST" class="form-group">
	                		{% csrf_token %}
							
	                		
	                		<label for="app">Your Selected Bike:</label>
	                		bike_name
	                		<input value="{{ object.name }}" class="form-control" type="text" id="" name="">
	                		<br>
			             	<label for="app">PickUp Time:</label>
			             	<input class="form-control" type="date"  name="">
			             	<br>
							<input class="form-control" type="time" id="appt" name="">
							<br>
							<label for="app">PickOut Time:</label>
							<input class="form-control" type="date" id="" name="">
							<br>
							<input class="form-control" type="time" id="appt" name="">
							<br>
							<input class="btn btn-lg btn-outline-success" type="submit">
		            	</form>

				    </div>
              	</div>
              	
		    </div>
	        <div class="col-sm-6 col-md-4">
	          	<div>
	          		<p>Your Selected Bike</p>
	          		<hr>
		            <div class="carousel-item-b">
		              <img class="img-fluid" height="250" width="250" src="{{ object.bike_image.url }}" alt="">
		            </div>
	          	</div>
	          	<div class="row justify-content-between">
	          		<div class="col-md-6">
	          			<p class="lead">{{ object.name }}</p>
	          			<hr>
		                <div class="summary-list">
		                  <ul class="list">
		                  	<li class="d-flex justify-content-between">
		                      <strong>Hr Rate:</strong>
		                      <span>{{ object.price }}Taka</span>
		                    </li>
		                    <li class="d-flex justify-content-between">
		                      <strong>{{ object.brand }}:</strong>
		                      <span>{{ object.brand_name }}</span>
		                    </li>
		                    <li class="d-flex justify-content-between">
		                      <strong>{{ object.model }}</strong>
		                      <span>{{ object.model_name }}</span>
		                    </li>
		                    <li class="d-flex justify-content-between">
		                      <strong>{{ object.speed }}</strong>
		                      <span>{{ object.speed_limit }}</span>
		                    </li>
		                  </ul>
		                </div>
		            </div> 
	          	</div>
	        </div>     
      	</div>
    </div>
</section>
  <!--/ Property Single End /-->




{% endblock %}